<h1><%= @list.name %></h1>

<h2>Bookmarks</h2>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <strong><%= bookmark.movie.title %></strong>: <%= bookmark.comment %>
      <%= form_with model: bookmark, url: bookmark_path(bookmark), method: :delete, class: "inline-form" do %>
        <%= submit_tag "Delete", class: "delete-link" %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a Bookmark", new_list_bookmark_path(@list), class: "btn btn-primary" %>
<%= link_to "Back to All Lists", lists_path, class: "btn btn-secondary" %>
